<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - trevor's personal api</title>
    {% else %}
        <title>welcome - trevor's personal api</title>
    {% endif %}

</head>
<body>
    <div>Trevor's Personal API:
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('login') }}">Login</a>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <hr>
    {% block content %}{% endblock %}
    </body>
</html>